{% load static mapkit i18n %}
<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} - FTQoin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#c42126">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">

    <link rel="manifest" href="{% url 'manifest' %}"/>

    <link href='{% static "govuk/govuk-frontend-5.10.0.min.css" %}' rel="stylesheet">
    <link href='{% static "main/style.css" %}' rel="stylesheet">
    <link href='{% static "main/mario-kart-style.css" %}' rel="stylesheet">

    <meta name="description"
          content="{% trans "Turn your public transport tickets into an Apple/Google Wallet pass." %}">
    <meta property="og:title" content="Zügli">
    <meta property="og:type" content="website"/>
    <meta property="og:description"
          content="{% trans "Turn your public transport tickets into an Apple/Google Wallet pass." %}">
    <meta name="fediverse:creator" content="@q@glauca.space"/>

    <script defer data-api="https://s.as207960.net/api/event" data-domain="xn--zgli-0ra.app"
            src="https://s.as207960.net/js/script.js"></script>
</head>
<body class="govuk-template__body govuk-template--rebranded">
<script>
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    let mapKitRequired = false;
</script>
{% block body_start %}
{% endblock body_start %}
<header class="govuk-header govuk-header--full-width-border" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-service-navigation__container">
            <a href="{% url 'index' %}" class="govuk-header__link govuk-header__service-name"
               style="align-self: center">
                FTQoin
            </a>
        </div>
    </div>
</header>
{% with request.resolver_match.url_name as url_name %}
    <div class="govuk-service-navigation" data-module="govuk-service-navigation">
        <div class="govuk-width-container">
            <div class="govuk-service-navigation__container">
                {% if user.is_authenticated %}
                    <span class="govuk-service-navigation__service-name">
                        {% blocktranslate with name=user.get_short_name %}Hi {{ name }}!{% endblocktranslate %}
                    </span>
                {% endif %}
                <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                    <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                            aria-controls="navigation" hidden>
                        {% trans "Menu" %}
                    </button>
                    <ul class="govuk-service-navigation__list" id="navigation">
                        <li class="govuk-service-navigation__item{% if url_name == 'index' %} govuk-service-navigation__item--active{% endif %}">
                            <a class="govuk-service-navigation__link" href="{% url 'index' %}">
                                {% trans "Start" %}
                            </a>
                        </li>
                        <li class="govuk-service-navigation__item{% if url_name == 'settings' %} govuk-service-navigation__item--active{% endif %}">
                            <a class="govuk-service-navigation__link" href="{% url 'settings' %}">
                                {% trans "Settings" %}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            {% if url_name == 'account' or url_name == 'account_edit' or url_name == 'db_account' or url_name == 'db_abo' or url_name == 'new_db_abo' or url_name == 'saarvv_account' or url_name == 'sbahn_berlin_account' or url_name == 'mvv_account' or url_name == 'db_add_ticket' or url_name == 'sncb_add_ticket' or url_name == 'avv_account' or url_name == 'account_set_password' %}
                <div class="govuk-service-navigation__container">
                    <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                        <button type="button"
                                class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                                aria-controls="navigation" hidden>
                            {% trans "Menu" %}
                        </button>
                        <ul class="govuk-service-navigation__list" id="navigation">
                            <li class="govuk-service-navigation__item{% if url_name == 'account' %} govuk-service-navigation__item--active{% endif %}">
                                <a class="govuk-service-navigation__link" href="{% url 'account' %}">
                                    {% trans "Account home" %}
                                </a>
                            </li>
                            {% if user.is_authenticated and user.account.is_db_authenticated %}
                                <li class="govuk-service-navigation__item{% if url_name == 'db_account' %} govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="{% url 'db_account' %}"
                                       aria-current="true">
                                        {% trans "DB Account" %}
                                    </a>
                                </li>
                            {% endif %}
                            <li class="govuk-service-navigation__item{% if url_name == 'db_abo' %} govuk-service-navigation__item--active{% endif %}">
                                <a class="govuk-service-navigation__link " href="{% url 'db_abo' %}">
                                    {% trans "DB Subscriptions" %}
                                </a>
                            </li>
                            {% if user.is_authenticated and user.account.is_saarvv_authenticated %}
                                <li class="govuk-service-navigation__item{% if url_name == 'saarvv_account' %} govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="{% url 'saarvv_account' %}">
                                        {% trans "SaarVV Account" %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if user.is_authenticated and user.account.is_sbahn_berlin_authenticated %}
                                <li class="govuk-service-navigation__item{% if url_name == 'sbahn_berlin_account' %} govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="{% url 'sbahn_berlin_account' %}">
                                        {% trans "S-Bahn Berlin Account" %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if user.is_authenticated and user.account.is_mvv_authenticated %}
                                <li class="govuk-service-navigation__item{% if url_name == 'mvv_account' %} govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="{% url 'mvv_account' %}">
                                        {% trans "MVV Account" %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if user.is_authenticated and user.account.is_avv_authenticated %}
                                <li class="govuk-service-navigation__item{% if url_name == 'avv_account' %} govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="{% url 'avv_account' %}">
                                        {% trans "AVV Account" %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}
        </div>
    </div>
{% endwith %}
<div class="govuk-width-container" id="pwa-install" style="display: none;">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"
           style="display: flex; align-items: center; justify-content: space-between;">
            {% trans "FTQoin can be added to your home screen." %}
            <button class="govuk-button govuk-!-margin-bottom-0 govuk-!-font-size-16" style="width: auto;"
                    id="pwa-install-button">
                {% trans "Install" %}
            </button>
        </p>
    </div>
</div>
<main class="govuk-main-wrapper" id="content" role="main">
    {% if messages %}
        <div class="govuk-width-container">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="govuk-error-summary" data-module="govuk-error-summary">
                        <div role="alert">
                            <h2 class="govuk-error-summary__title">Error</h2>
                            <div class="govuk-error-summary__body">
                                {{ message.message }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="govuk-notification-banner govuk-notification-banner--{{ message.level_tag }}"
                         role="region"
                         data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__content">
                            {{ message.message }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% block content %}{% endblock content %}
</main>
<footer class="govuk-footer">
    <div class="govuk-width-container">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <div class="govuk-footer__meta-custom">
                    {% blocktrans trimmed %}
                        Not affiliated with the Verband Deutscher Verkehrsunternehmen (VDV),
                        Union Internationale des Chemins de fer (UIC), Rail Delivery Group (RDG), or any of their
                        respective members.
                    {% endblocktrans %}
                </div>
                <div class="govuk-footer__meta-custom">
                    {% blocktrans trimmed %}
                        <a class="govuk-footer__link" href="https://github.com/alphagov/govuk-frontend" target="_blank">GOV.UK
                            Design System</a>
                        used under license.
                    {% endblocktrans %}
                </div>
                <div class="govuk-footer__meta-custom">
                    {% if git_hash %}
                        {% blocktrans trimmed %}
                            Running version
                            <a href="https://github.com/theenbyperor/vdv-pkpass" class="govuk-footer__link"
                               target="_blank">{{ git_hash }}</a>.
                        {% endblocktrans %}
                    {% else %}
                        {% trans "Development build." %}
                    {% endif %}
                </div>
                <span class="govuk-footer__licence-description">
                    {% blocktrans trimmed %}
                        Licensed under the <a href="https://eupl.eu" class="govuk-footer__link"
                                              target="_blank">EUPL v1.2</a>.
                    {% endblocktrans %}
                </span>
            </div>
            <div class="govuk-footer__meta-item">
                <a
                        class="govuk-footer__link"
                        href="https://magicalcodewit.ch">
                    &copy; Q Misell, {% now "Y" %}
                </a>
            </div>
        </div>
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <iframe src="https://github.com/sponsors/TheEnbyperor/card" title="Sponsor TheEnbyperor" height="225" style="width: 100%; border: 0;"></iframe>
            </div>
        </div>
    </div>
    </div>
</footer>
<script type="module" src='{% static "govuk/govuk-frontend-5.10.0.min.js" %}'></script>
<script type="module">
    import {initAll} from '{% static "govuk/govuk-frontend-5.10.0.min.js" %}'

    initAll()
</script>
<script src="{% static "barkoder/barkoder-umd.js" %}"></script>
<script src="{% static "main/viz-standalone.js" %}"></script>
<script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
        crossorigin async
        data-callback="initMapKit"
        data-libraries="services,full-map"></script>
<script>
    function initMapKit() {
        const loadedEvent = new Event("mapKitLoaded");
        if (mapKitRequired) {
            mapkit.init({
                authorizationCallback: function (done) {
                    done("{% mapkit_token %}");
                },
            });
            mapkit.addEventListener("configuration-change", function (event) {
                switch (event.status) {
                    case "Initialized":
                        document.dispatchEvent(loadedEvent);
                        break;
                }
            });
        }
    }
</script>
<script>
    let installPrompt = null;
    const pwaInstall = document.querySelector("#pwa-install");
    const pwaInstallButton = document.querySelector("#pwa-install-button");

    window.addEventListener("beforeinstallprompt", (event) => {
        event.preventDefault();
        installPrompt = event;
        pwaInstall.style.display = "block";
    });

    pwaInstallButton.addEventListener("click", async () => {
        if (!installPrompt) {
            return;
        }
        await installPrompt.prompt();
        installPrompt = null;
        pwaInstall.style.display = "none";
    });
</script>
</body>
</html>
